* {
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
}

/*------------------------Color split in the background------------------------*/

body {
  margin: 0;
  border-top: 1rem solid black;

  height: 110%;
  background: linear-gradient(
    to top,
    #799dab 0%,
    #799dab 67%,
    white 67%,
    white 100%
  );

  background-repeat: no-repeat;
}

/*------------------------Top bar Navigation------------------------*/

.top-bar {
  margin-top: 1rem;
}
.logo {
  width: 12rem;
  height: auto;
  margin-left: 1rem;
}
.top-bar,
nav,
.nav-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top-bar:hover {
  background-color: white;
}
nav {
  justify-content: space-between;
  flex-grow: 1;
}
.icon {
  width: 2rem;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}
.effectHov :hover {
  color: #799dab;
  text-shadow: rgba(0, 0, 0, 0.188) 1px 0 4px;
  transition: 0.5s ease;
}
.contact-button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.contact-button:hover {
  background-color: #799dab;
  transition: 0.5s ease;
  color: rgb(255, 255, 255);
}
.left {
  margin-left: 2rem;
  gap: 4rem;
}
.leftSP{
  margin-left: 0.6rem;
  gap: 4rem;
}
.nav-bar:last-child {
  margin-right: 1rem;
}
/*------------------------LANGUAGE MENU SELECTOR------------------------*/
.lang {
  background-color: #c7eaf8;
  padding: 1rem;
  list-style: none;

  border-bottom-left-radius: 2rem;
  border-left: 0.1rem solid #799dab;
  border-bottom: 0.1rem solid #799dab;

  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.language-menu:hover .lang {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lang img {
  height: 2rem;
  width: 2rem;
}

.lang li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*------------------------Content------------------------*/

.conTitle {
  padding-top: 2.5rem;
  padding-bottom: 0.01rem;
  margin-bottom: 1.5%;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #799dab;
}

.conTxt {
  border: solid none;
  width: 36rem;
  text-align: center;
  margin: 0 auto;
}



/*------------------------Statistics------------------------*/

.stattitle {
  padding-top: 4rem;
  margin-bottom: 0%;
  margin-bottom: 1.5%;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #799dab;
}

.desc {
  font-size: 1.5rem;
  text-align: center;
}

.bold {
  color:#799dab;
}

/*------------------------Statistic boxes------------------------*/

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square {
  height: 15em;
  width: 15em;
  background-color: #c7eaf8;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.circle {
  height: 8em;
  width: 8em;
  border: solid 0.8rem #ffffff;
  border-radius: 10em;
  background-color: #dcf1f9;
  position: relative;
  top: 9%;
  left: 18%;
}

.statNum {
  margin-top: 25%;
  font-size: 350%;
  color: #ffffff;
  text-shadow: gray 0px 4px 12px;
}

.bottomTxt {
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-left: 1em;
  padding-right: 1em;
}

/*------------------------FAQ------------------------*/

.brFaq {
  display: flex;
  flex-direction: column;
  width: 40em;
  border: 1rem solid #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #c7eaf8;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.titleFaq {
  font-size: 2rem;
  text-align: center;
  color: #799dab;
}

.titleFaq > b {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #799dab;
}

.faqQ {
  border: none;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 1rem;
  background-color: white;

  z-index: 6;

  transition: opacity 0.3s;

  transition: ease-in 0.3s;
}

.faqQ:hover {
  opacity: 0%;
  transition: opacity 0.3s;

  -webkit-transition: ease-out 0.3s;
}

.faqA {
  margin-bottom: -3.7rem;
  padding-bottom: 3.7rem;

  text-align: center;
  border-radius: 1rem;
  background-color: #799dab;

  display: flex;
  justify-content: center;

  position: relative;
  bottom: 5.15rem;

  z-index: 5;
}

.faqAtxt {
  padding: 0em;
  margin-bottom: -3rem;
  color: white;
  text-align: center;
}

/*------------------------Footer------------------------*/

footer {
  margin-top: 5rem;
  background-color: #c7eaf8;
  width: 100%;
  bottom: 0;
}

.ReadMore-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50rem;
  margin: auto;
}

.follow {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  color: #799dab;
  padding: 1rem 0 0 0;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.social-block {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-img {
  height: 2.5rem;
  margin-bottom: 1rem;
}

.social-name,
.social-id {
  font-size: 0.8rem;
  margin: 0;
}

.copyright {
  color: white;
  font-weight: 400;
  font-size: 0.5rem;
  padding: 0.2rem;
  background-color: #000;
  margin: 0;
  text-align: center;
}
