* {
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
body {
  border-top: 1rem solid black;
}
/* NAVIGATION BAR */
.top-bar {
  margin-top: 1rem;
}
.logo {
  width: 12rem;
  height: auto;
  margin-left: 1rem;
}
.top-bar,
nav,
.nav-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
nav {
  justify-content: space-between;
  flex-grow: 1;
}
.icon {
  width: 2rem;
  height: auto;
}
a {
  text-decoration: none;
}
.effectHov :hover {
  color: #799dab;
  text-shadow: rgba(0, 0, 0, 0.188) 1px 0 4px;
  transition: 0.5s ease;
}                         
.contact-button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.contact-button:hover {
  background-color:#799dab;
  transition: 0.5s ease;
  color: rgb(255, 255, 255);
}
.left {
  margin-left: 2rem;
  gap: 4rem;
}
.nav-bar:last-child {
  margin-right: 1rem;
}
/* LANGUAGE MENU SELECTOR */
.lang {
  background-color: #c7eaf8;
  padding: 1rem;
  list-style: none;

  border-bottom-left-radius: 2rem;
  border-left: 0.1rem solid #799dab;
  border-bottom: 0.1rem solid #799dab;

  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.language-menu:hover .lang {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lang img {
  height: 2rem;
  width: 2rem;
}

.lang li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* SERVICE CONTENT */


.Service-main {
  display: flex;
  justify-content: center;
}

.image {
  height: 350px;
}

.Service-main > div {
  background-color: #dcf1f9;
  margin: 100px;
  font-size: large;
  text-align: left;
  border-top: 4px solid #799dab;
  border-bottom: 4px solid #799dab;
  margin-top: 60px;
  margin-bottom: auto;
  height: 40rem;
  line-height: 30px;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
h3 {
  color: #799dab;
  margin-left: 20px;
}
li {
  line-height: 40px;
}

ul {
  margin-top:1rem ;
}

.Learn-more-button1 {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  text-align: center;
  max-width: 8rem;
  margin-left: 15px;
  margin-top: 3.5rem;
}
.Learn-more-button1 a{
  color: white;
  font-size: 1rem;
}
.Learn-more-button1 a:hover{
  color:#c7eaf8;
  transition: 0.5s ease;
}
.Learn-more-button2{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  text-align: center;
  max-width: 7.8rem;
  margin-left: 15px;
  margin-top: 1.1rem;
}
.Learn-more-button2 a{
  color: white;
  font-size: 1rem; 
}
.Learn-more-button2 a:hover{
  color: #799dab;
  transition: 0.5s ease;
}
footer {
  margin-top:6rem;
  background-color: #c7eaf8;
  width: 100%;
  bottom: 0;
}
/* POPUP SING-UP */
.popup{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
}
.popup-content {
  position: relative;

  width: 32rem;
  height: fit-content;
  background-color: #dcf1f9;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 22%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
}
.close {
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.close:hover {
  height: 1.1rem;
  width: 1.1rem;
  cursor: pointer;
}
.signUp-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}
.singUp-additional {
  color: rgb(60, 60, 60);
}
.signUp-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  gap: 1rem;

  margin-top: 2rem;

  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
input {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
}
.email {
  border: 1px solid #e4e4e7;
}
.submit {
  background-color: #799dab;
  color: white;
  font-weight: bold;
}
.submit:hover {
  background-color: black;
  transition: 0.5s ease;
}
button{
  font-size: 1rem;
  border:none;
  background-color: #799dab;
  color: white;
  width:fit-content;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  grid-column: 2/3;
  margin: auto;
  margin-bottom: 1rem;
}
/* FOOTER ABOUT THE SOCIAL-MEDIA  */
.ReadMore-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50rem;
  margin: auto;
  align-items: center;
}
.follow {
  margin-top: 0;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  color: #799dab;
  padding: 1rem 0 0 0;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.social-block {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.social-img {
  height: 2.5rem;
  margin-bottom: 1rem;
}
.social-name,
.social-id {
  font-size: 0.8rem;
  margin: 0;
}
.copyright {
  color: white;
  font-weight: 400;
  font-size: 0.5rem;
  padding: 0.2rem;
  background-color: #000;
  margin: 0;
  text-align: center;
}
.ReadMore-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50rem;
  margin: auto;
  align-items: center;
}
