.ContactPage-Body{
  
    background-image: url("Images/Image\ correct.jpg");
    background-size: auto; 
    background-attachment: fixed;
    font-family: Calibri, sans-serif;
    

    
   
      
  }
.firstpart{
    display: flex;
    padding-top: 1rem;
    padding-left: 10rem;
    align-self: center;
    flex-wrap: wrap;
    
 
   

  }
  .seccondpart{
    display: flex;
    
    padding-left: 10rem;
    padding-right: 7rem;
    align-content: center;
   

  }

  .box1{
      flex-wrap: wrap;     
      
      

      font-family: Calibri, sans-serif; 
      color:#799dab;
      display:flex;
      margin: 0%;
      
      padding-left:9rem;
      padding-top: 5rem;
      width: 23rem;
 }
 
 .box1 h1{
  font-size: 45px;
 }

/*.box2{
  flex-wrap: wrap;     
  font-family: Calibri, sans-serif;
  text-align: center;
 
  color:#799dab;
  display:flex;

  white-space: pre-wrap;
  padding-left: 4rem;
  padding-top: 3rem;
  
}*/
.box2 {
  font-family: Calibri, sans-serif; 
  color:#799dab;
  margin: 0%;
  padding-left: 2rem;
  padding-top: 5rem;
  height: 8rem;

}

.box2 h1 {
  font-size: 40px;
  font-weight: bold;
}

.box2 p{
  font-size: 20px;
  margin-top: 0;
  margin: 0;
}


.box3{
  display: flex;
  padding-left: 3rem;
  height: 15rem;
  width: 20rem;
  align-content: flex-start;
  padding-right: 10rem;

  border-radius: 3rem;
  
  
}
.box4{
  display: flex;
  
  border-style: solid;
  border-width: 0.6rem;
  border-color: white;
  border-radius: 2%;
  
  height: 20rem;
  width: 19rem;
  
}
.frame{
  border-style: solid;
  border-color: white;
}
.text{
  text-align: justify;
  
}
 /* .input{
    padding: 10%;
    width: 25rem;
    gap: 5%;
    border-radius: 35%;
    height: 1rem;
    border-color: white;
    color: #799dab;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)
    }*/
    .input{
      background-color: rgb(255, 255, 255);
      color: #c7eaf8;
      padding-right: 5rem;
      padding-left: 2rem;
      border-radius: 3rem;
      
      border-style: none;
      box-shadow: 0px 4px 12px 0px #799dab;
      height: 10rem;
      font-family: Calibri, sans-serif;
      font-size: 16px;
      
      
    }
  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    align-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 3rem;
    
    height: 20rem;
  }
  .input1{
    padding: 8%;
    width: 25rem;
    height: 2rem;
    gap: 5%;
    align-content: center;
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0px 4px 12px 0px #799dab;
    background-color: #c7eaf8;
    font-size: 1rem;
    
  }
  .contact-button1{
    background-color: #799dab;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    box-shadow: 0px 4px 12px 0px #799dab;
  }
  h1{
    font-style: var(calibre);
    font-size: 40px;
    font-weight: lighter;
  }



  /*Header*/
  .top-bar {
    margin-top: 1rem;
  }
  .logo {
    width: 12rem;
    height: auto;
    margin-left: 1rem;
  }
  .top-bar,
  nav,
  .nav-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    
  }

  nav {
    justify-content: space-between;
    font-size: 20px;
    flex-grow: 1;
  }
  .icon {
    width: 2rem;
    height: auto;
  }
  a {
    text-decoration: none;
    color:#799dab;
  }
  .contact-button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    
  }
  .left {
    margin-left: 4rem;
    gap: 4rem;
    font-weight: bold;
    
  }
  /*.right{
    margin-right: 2rem;
    padding-right: 18rem;
  }*/
  .nav-bar:last-child {
    margin-right: 1rem;
  }
