body{
    background-color: #c7eaf8;
    color: black;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 48px;
}
p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    align-items: center;
    background-color: white;   
    justify-content: center;
    flex-wrap: wrap;
    height: 25rem;
    width: 30rem;
    border-radius: 2rem;
    margin-left: 32rem; 
    margin-top: 5rem;
    padding-bottom: 1rem;
}
input{
    background-color: white;
    color: black;
    height: 5rem;
    width: 25rem;   
    border-radius: 1rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 0px 4px 12px 0px #799dab;
     
      font-family: Calibri, sans-serif;
      font-size: 16px;
}
.middle-bar{
    background-color: #799dab;
    color: rgb(0, 0, 0);
    height: 5rem;
    width: 25rem;
    font-weight: bold;
    
    align-self: center;
}